h1 {
    font-weight: 500px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    border:groove 5px #4c26c9;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:20px;
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:47px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:5px;
 
}
h2
{
    text-align: center;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.listeArticle {
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

.listeArticle article {
    width: calc( 100% / 3);
    order:10;
}

article.sport {
    order:1;
    width: 100%;
}

article img {
    width:100%;
    height:30vh;
    object-fit:cover;
}
nav
{
    text-align: right;
    font-style: italic;
}
.lien
{
    text-align: center;
}